
.imagenMonoAgarrado {
    max-width: 35px; 
    max-height: 35px;
    object-fit: contain;
    pointer-events: none;
}

.circuloMonoAgarrado {
    position: absolute;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
    opacity: 0.9;
    pointer-events: none;
    cursor: none;
    left: -4px;       /* Estos valores no los entiendo pero hace que se coloque bien */
    top: -9px;        /* A prueba y error xd */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

