
:root{
    --color-boton-importante: #e19718;
    --color-fondo: #282c34
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-fondo);
    color: white;
    font-family: Arial, sans-serif;
}

/*  BOTONES */
.menu-container {
    text-align: center;
}
button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#play-btn {
    background-color: var(--color-boton-importante);
}
#settings-btn, #ranking-btn {
    background-color: gray;
    color: white;
}
button:hover {
    opacity: 0.8;
}