
:root{
    --color-boton-importante: #e19718;
    --color-navegador: #282c34

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../assets/images/background.jpg') no-repeat center center/cover;
    font-family: Arial, sans-serif;

    overflow: hidden;/* La pantalla estará fija, no podrás scrollearla */
}


